.todo-list {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
}
.todo-wrap-item {
  /* width: 500px; */
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  padding: 10px;
  /* height: 800px; */
  background: rgb(21, 52, 66);
  border: 1px solid rgb(61, 126, 154);
  border-top: none;
  border-bottom: none;
}
.category-wrap {
  font-size: 20px;
  user-select: none;
}
.category-icon {
  font-size: 20px;
  color: #fff;
  margin-right: 10px;
}
.category-title {
  font-size: 20px;
  color: aliceblue;
}
.items-wrap {
  /* height: 100%; */
  height: calc(100vh - 50px);
  overflow: auto;
}
.todo-item,
.done {
  position: relative;
  padding: 0 5px;
  width: 100%;
  /* max-width: 400px; */
  text-align: left;
  height: 50px;
  background: rgb(134, 194, 243);
  margin-top: 10px;
  display: flex;
  /* border: 1px solid red; */
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  transition: all 0.5s;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
}
.todo-item:hover,
.done:hover {
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 3px 3px 3px rgb(226, 215, 215);
}
.todo-item:hover .del-task-btn,
.done:hover .del-task-btn {
  visibility: visible;
}
.item-title {
  width: 100%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 10px;
}
.done {
  background-color: grey;
  text-decoration: line-through;
  color: aliceblue;
  opacity: 0.5;
}
.radio_type {
  width: 20px;
  height: 20px;
  appearance: none;
  position: relative;
  margin-right: 10px;
  border-radius: 50%;
}
.radio_type:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid #7d7d7d;
  display: inline-block;
  border-radius: 50%;
  vertical-align: middle;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.radio_type:hover {
  background-color: rgb(255, 255, 255);
}
.radio_type:checked:before {
  content: "";
  width: 20px;
  height: 20px;
  border: 1px solid #c59c5a;
  background: #c55a5a;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  vertical-align: middle;
}
.radio_type:checked:after {
  content: "";
  width: 10px;
  height: 5px;
  border: 2px solid white;
  border-top: transparent;
  border-right: transparent;
  text-align: center;
  display: block;
  position: absolute;
  top: 6px;
  left: 5px;
  /* vertical-align: middle; */
  transform: rotate(-45deg);
}
.radio_type:checked + label {
  color: #c59c5a;
}
.add-task-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  padding: 0;
}
.add-task-plus-icon {
  font-size: 20px;
}
.del-task-btn {
  cursor: pointer;
  visibility: hidden;
  color: red;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 10px;
  font-weight: 900;
}
