.sider {
  /* width: 100px; */
  height: 100%;
  background: #001529;
  flex-direction: column;
}
.menu-wrap {
  display: flex;
  flex-direction: column;
}
.menu-item {
  padding: 10px;
  font-size: 20px;
  transition: all 0.5s;
}
.menu-item:hover {
  background: rgb(126, 112, 114);
  color: #fff;
}
